/* fonts */
body {
	font-family: 'Poppins', sans-serif;
}
header {
	font-family: 'Mochiy Pop One', sans-serif;
}

/* center align content */
h1,
p,
main {
	margin: auto;
}
main {
	text-align: center;
}

/* grid css */
main {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 15px 1fr 15px;
	grid-template-areas:
		'. title   .'
		'. wonton  .'
		'. fortune .'
		'. .       .';
	gap: 1em;
}
header {
	grid-area: title;
}
section[wonton] {
	align-self: center;
	grid-area: wonton;
	padding: 2em;
}
section[fortune] {
	grid-area: fortune;
}

/* card styling */
section[fortune] {
	background-color: var(--gray-8);
	border-radius: var(--radius-2);
	padding: var(--size-fluid-3);
	box-shadow: var(--shadow-2);

	&:hover {
		box-shadow: var(--shadow-3);
	}

	@media (--motionOK) {
		animation: var(--animation-fade-in);
	}
}

/* make button larger */
section[wonton] button {
}
